@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/manos.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.homePage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* .video-background {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */

.bg-donatePage {
    background: rgba(20, 20, 20, 0.644);
    backdrop-filter: blur(8px);
}

/* Estilo para el navbar */
nav {
    background-color: #2424241f;
    color: #fff;
}

nav::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    width: 75%;
    margin: 1 auto;
}

h2 {
    font-size: 1.8rem;
}

.text-DonatePage {
    background: rgba(126, 7, 223, 0.750);
    backdrop-filter: blur(2px);
    font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
    .text-DonatePage {
        display: none;
    }
}


/* ButtonDonateTransfer */
.url-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.url-container.visible {
    max-height: 40px;
}